.content {
  display: flex;
  flex-direction: column;
}

.images-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-to-show {
  display: none;
}

.showing {
  display: block;
  width: 400px;
  height: 400px;
}

.controls {
  margin: 0 auto;
  width: 400px;
}
